.apply-btn {
  color: white;
  background-color: rgb(10, 102, 194);
  font-weight: bold;
  border-radius: 23px;
  border: none;
  height: 46px;
  width: 240px;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.15s;
}
.save-btn {
  background-color: white;
  border: 1px solid rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  height: 46px;
  width: 80px;
  border-radius: 23px;
  margin-left: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.15s border-width 0.3s;
}
.apply-btn:hover {
  background-color: rgb(14, 35, 130);
  cursor: pointer;
}
.save-btn:hover {
  cursor: pointer;
  border-width: 3px;
  background-color: rgba(10, 102, 194, 0.3);
}
